/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COMMON */
img {
  max-width: 100%;
}


body {
  font-family: "Open Sans", sans-serif;

}

a {
  text-decoration: none;
}
/* HEADER */
.logo {
  height: 80px;
}

.row-header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.row-header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: bold;
}
/* MAIN */
.row-main {
  background-color: #1a1818;
  height: 150px;
  padding: 0 150px;
  display: flex;
  align-items: center;
}

.title-main {
  color: #ffffff;
}