/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* COMMON */
.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.row {
  background-color: #1c1c1c;
  padding: 20px;
}
/* HEADER */
.logo {
  height: 80px;
}

.row-header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  position: sticky;
}

.row-header ul {
  display: flex;
  gap: 20px;
  font-weight: bold;
  font-size: 0.8rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-menu a {
  position: relative;
  color: #1d1d1d;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.nav-menu a:hover,
.nav-menu a.active-link {
  color: #0282f9;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  background-color: #0282f9;
  transition: width 0.3s ease;
}

.nav-menu a:hover::after,
.nav-menu a.active-link::after {
  width: 100%;
}
/* MAIN */
.container-main {
  max-width: 1200px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.bg-main {
  background-image: url(../public/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.row-main {
  display: flex;
  position: relative;
  justify-content: center;
}

.title-main {
  color: #ffffff;
  border: 2px solid #0282f9;
  padding: 5px 20px;
  background-color: #0282f9;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  top: -1.5rem;
  transform: translateY(-50%);
}

.card {
  width: calc(100% / 6);
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.title-comics {
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 0.6rem;
  font-weight: 800;
}

.load-btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  border: 2px solid #0282f9;
  padding: 5px 40px;
  background-color: #0282f9;
  font-weight: 800;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.load-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
/* ICONS */
.row-icons {
  background-color: #0282f9;
  padding: 40px 40px;
}

.row-icons ul {
  display: flex;
  justify-content: space-around;
}

.row-icons img {
  height: 50px;
}

.row-icons ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #ffffff;
}

.icons-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.icons-text {
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 1;
  position: relative;transition: opacity 0.3s ease, transform 0.3s ease;
}

.icons-img {
  z-index: 2;
  pointer-events: auto;
  transition: transform 0.4s ease;
}

.icons-box:hover .icons-text {
  transform: translateX(-30px) scale(0.5);
  opacity: 0;
}

.icons-box:hover .icons-img {
  transform:translate(80px); 
}
/* FOOTER */
h3 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.footer {
  overflow: hidden;
  position: relative;
}

.bg-footer {
  background-image: url(../public/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  overflow: hidden;
}

.footer-list {
  display: flex;
  justify-content: space-around;
}

.footer-links {
  display: flex;
  gap: 50px;
}

.footer-column h3 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 6px;
}

.footer-column ul li a {
  color: #ffffff;
  font-size: 0.9rem;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  opacity: 0.9;
}

.footer-logo img {
  margin-right: 30px;
  z-index: 0;
}

.bg-second-footer {
  padding: 30px;
  background-color: #303030;
  display: flex;
  z-index: 1;
  justify-content: space-around;
  position: relative;
}

.bg-second-footer button {
  font-size: 1rem;
  padding: 10px;
  border-color: #047cec;
  color: white;
  background-color: #303030;
  font-weight: bold;
  cursor: pointer;
}

.bg-second-footer p {
  font-weight: bold;
  color: #047cec;
  align-self: center;
  font-size: 1.2rem;
}

.bg-second-footer img {
  height: 35px;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
